@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
}

li {
  list-style: none;
}

.offer-h2 .offer-caption, .price, .breadcrumbs li, p, .dropdown-content .category-list-title, .dropdown-content .category-list-item, .subscribe-email-input, .email-submit-btn {
  font-weight: 300;
  font-size: 14px;
  line-height: 145%;
  color: #5D5D5D;
}

.offer-h2 .offer-caption, .price, .breadcrumbs li {
  font-size: 16px;
  text-transform: uppercase;
}

h1 {
  font-size: 32px;
  line-height: 130%;
  color: #222222;
}

h2 {
  font-size: 24px;
  line-height: 130%;
  color: #222222;
}

h3 {
  font-size: 20px;
  line-height: 130%;
  color: #222222;
}

h4 {
  font-size: 14px;
  line-height: 130%;
  color: #222222;
}

h1,
h2,
h3,
h4,
p,
span {
  cursor: default;
}

h1::-moz-selection {
  background: transparent;
}

h1::selection {
  background: transparent;
}

h2::-moz-selection {
  background: transparent;
}

h2::selection {
  background: transparent;
}

h3::-moz-selection {
  background: transparent;
}

h3::selection {
  background: transparent;
}

h4::-moz-selection {
  background: transparent;
}

h4::selection {
  background: transparent;
}

p::-moz-selection {
  background: transparent;
}

p::selection {
  background: transparent;
}

span::-moz-selection {
  background: transparent;
}

span::selection {
  background: transparent;
}

.btn-browse-all-product {
  border: 1px solid #F16D7F;
  background-color: white;
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #F16D7F;
  padding: 16px 40px;
  cursor: pointer;
}

.container {
  max-width: 1200px;
  padding: 0 30px 0 30px;
  min-width: 320px;
  margin: 0 auto;
}

.fixed-top-menu {
  width: 100%;
  height: 75px;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: #222222;
}

.fixed-top-menu .top-menu {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.fixed-top-menu .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 43px;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.fixed-top-menu .logo .red300 {
  fill: #F16D7F;
}

.fixed-top-menu .logo .red200 {
  fill: #FCBAC3;
}

.fixed-top-menu .logo .red100 {
  fill: #F1E4E6;
}

.fixed-top-menu .btn-top-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 32px 0 0;
}

.fixed-top-menu .btn-top-menu {
  fill: #F8F8F8;
}

.fixed-top-menu .btn-top-menu:hover .btn-top-menu-icon {
  fill: #F16D7F;
}

.fixed-top-menu .btn-top-menu:active .btn-top-menu-icon {
  fill: #FCBAC3;
}

.fixed-top-menu .search-form-icon-label {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 40px;
  height: 40px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0;
  margin: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  margin: 0 32px 0 0;
  fill: #F8F8F8;
}

.fixed-top-menu .search-form-icon-label:hover .search-form-icon-svg {
  fill: #F16D7F;
}

.fixed-top-menu .search-form-icon-label:active .search-form-icon-svg {
  fill: #FCBAC3;
}

.fixed-top-menu .search-form-icon-label {
  margin: 0 0 0 32px;
}

.fixed-top-menu .search-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

.fixed-top-menu .search_input {
  width: 0px;
  height: 0px;
  margin: 0 24px 0 16px;
  padding: 0 20px 0 20px;
  outline: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: transparent;
  border: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0px;
  left: 70px;
  color: #222222;
  font-weight: 400;
  font-size: 16px;
  border-radius: 28px 28px 28px 28px;
  box-sizing: border-box;
}

.fixed-top-menu .search_input:focus {
  width: 100%;
  max-width: 795px;
  min-height: 40px;
  -webkit-transition: width 0.5s ease;
  transition: width 0.5s ease;
  border: 2px solid #F8F8F8;
  background-color: #F8F8F8;
  border-radius: 28px 28px 28px 28px;
}

.fixed-top-menu .search_input:focus ~ .search-form-icon-label > .search-form-icon {
  fill: #F16D7F;
}

.top-menu-right-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.top-menu-right-btn :last-child {
  margin-right: 0;
}

.top-menu-right-btn .basket {
  width: 42px;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}

.top-menu-right-btn .basket .counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F16D7F;
  border-radius: 16px;
  width: 20px;
  height: 20px;
  position: absolute;
  top: -2px;
  right: -2px;
  color: #ffffff;
  font-weight: 700;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.burger {
  position: relative;
  cursor: pointer;
}

.burger::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: transparent;
}

.burger path:hover {
  fill: #FCBAC3;
}

.burger path:focus {
  fill: #FCBAC3;
}

.dropdown-burger {
  position: relative;
}

.dropdown-content {
  width: 1000px;
  height: 100vh;
  background-color: #ffffff;
  position: absolute;
  left: -32px;
  top: 58px;
  padding: 32px;
  -webkit-box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.035);
          box-shadow: -4px 0px 4px rgba(0, 0, 0, 0.035);
  z-index: 11;
  overflow: auto;
  display: none;
}

.dropdown-content .menu-title {
  text-transform: uppercase;
  font-weight: 700;
  margin: 0 0 24px 0;
  text-decoration: none;
  cursor: default;
}

.dropdown-content .category {
  margin: 0 0 20px 0;
}

.dropdown-content .category-list-title {
  font-weight: 400;
  text-transform: uppercase;
  color: #F16D7F;
  text-decoration: none;
  margin: 0 0 20px 0;
}

.dropdown-content .category-list-item {
  font-weight: 400;
  margin: 0 0 12px 0;
  padding: 0 0 0 10px;
  text-decoration: none;
}

.dropdown-content .category-list-title:hover {
  text-decoration: underline;
}

.dropdown-content .category-list-item:hover {
  text-decoration: underline;
}

.dropdown-content .cross-in-drop-down {
  width: 38px;
  height: 38px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  align-items: center;
}

.dropdown-content .cross-in-drop-down path {
  fill: #9F9F9F;
}

.dropdown-content .cross-in-drop-down:hover path {
  fill: #5D5D5D;
}

.show {
  display: block;
}

.top-banner {
  width: 100%;
  height: 764px;
  margin: 75px 0 64px 0;
  background-color: #F1E4E6;
}

.banner {
  height: inherit;
  background-image: url(img/top-banner-img.png);
  background-repeat: no-repeat;
  background-position: 30px 0;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.top-banner-title {
  font-weight: 900;
  font-size: 48px;
  line-height: 58px;
  color: #222222;
  display: block;
}

.top-banner-caption {
  font-weight: 700;
  font-size: 32px;
  line-height: 38px;
  color: #222222;
  display: block;
}

.top-banner-caption .font-color-accent {
  color: #F16D7F;
}

.top-banner-title-caption {
  margin: 0 150px 20px 0;
}

.banner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.top-banner-title-caption {
  position: relative;
}

.top-banner-title-caption::before {
  content: "";
  display: block;
  width: 12px;
  height: 98px;
  background-color: #f16d7f;
  position: absolute;
  top: 0;
  left: -28px;
}

.offer-items {
  margin-bottom: 96px;
}

.offer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
}

.offer-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  outline: 1px solid #000;
  width: 100%;
  max-width: 360px;
  height: 260px;
  margin: 0 30px 30px 0;
  background-color: #F16D7F;
}

.offer-item:nth-child(3) {
  margin: 0 0 30px 0;
}

.offer-item:nth-child(4) {
  margin: 0 0 0 0;
  background-color: #6d6ff1;
  width: 100%;
  max-width: 1140px;
  height: 180px;
}

.offer-item-wide {
  background-color: #6d6ff1;
  width: 100%;
  max-width: 1140px;
  height: 180px;
}

.offer-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 360px;
  height: 260px;
  text-decoration: none;
}

.offer-link-wide {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 1140px;
  height: 180px;
  text-decoration: none;
}

.offer-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
  max-width: inherit;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-repeat: no-repeat;
  background-position: center;
  position: relative;
}

.offer-img::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  background-color: #211616b3;
  opacity: 100%;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.offer-link:hover .offer-img::after {
  opacity: 92%;
}

.offer-link-wide:hover .offer-img::after {
  opacity: 92%;
}

.offer-h2 {
  text-align: center;
  text-transform: uppercase;
  color: #F16D7F;
  text-decoration: none;
  position: absolute;
  z-index: 4;
  cursor: pointer;
}

.offer-h2 .offer-caption {
  color: #ffffff;
}

.offer-for-women {
  background-image: url(img/offer03.jpg);
}

.offer-for-men {
  background-image: url(img/offer02.jpg);
}

.offer-for-kid {
  background-image: url(img/offer01.jpg);
}

.offer-accessories {
  background-image: url(img/offer04.jpg);
}

.product-items {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 96px;
}

.product-items-headline {
  text-align: center;
}

.product-items-caption {
  text-align: center;
  margin: 0 0 44px 0;
  color: #9F9F9F;
}

.product-items-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 24px;
}

.product-item {
  width: 100%;
  max-width: 360px;
  height: 582px;
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #F1E4E6;
  position: relative;
  -webkit-transition-property: background-color;
  transition-property: background-color;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-item:hover {
  background-color: #F1CFD5;
}

.product-item-text-wrapper {
  padding: 20px 16px 0 16px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  background-color: #F8F8F8;
}

.product-Item-description {
  font-weight: 300;
}

.product-Item-title {
  cursor: pointer;
}

.product-Item-title-link {
  text-decoration: none;
}

.product-Item-title-link:hover {
  text-decoration: underline;
  cursor: pointer;
}

.product-Item-title,
.product-Item-description,
.price {
  margin-bottom: 12px;
}

.price {
  color: #F16D7F;
  font-weight: 400;
}

.product-img-wrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.product-img {
  width: 100%;
  max-width: 360px;
}

.add-to-cart-hover-shader {
  background-color: #211616b3;
  width: 100%;
  max-width: 360px;
  height: 420px;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  -webkit-transition-property: opacity;
  transition-property: opacity;
  -webkit-transition: .3s;
  transition: .3s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}

.product-img-wrapper:hover .add-to-cart-hover-shader {
  opacity: 100%;
}

.btn-browse-all-product-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-browse-all-product {
  text-decoration: none;
}

.btn-browse-all-product:hover {
  background-color: #F16D7F;
  color: white;
}

.btn-add-to-cart {
  border: 1px solid #F1E4E6;
  background-color: initial;
  padding: 10px 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-add-to-cart .icon-basket-add-to-cart-btn {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-add-to-cart .add-to-cart {
  color: #F8F8F8;
  letter-spacing: 0.05rem;
}

.customer-value {
  width: 100%;
  height: 342px;
  background-color: #222222;
}

.value-wrapper {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.value-icon {
  width: 52px;
  height: 52px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.value-icon path {
  fill: #F16D7F;
}

.value-title,
.value-descriotion {
  color: #F8F8F8;
  text-align: center;
}

.value-item {
  width: 100%;
  max-width: 300px;
  min-height: 150px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe {
  width: 100%;
  min-height: 448px;
  background-image: url(img/subscribe_back.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  position: relative;
}

.subscribe-shader:after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #f8f8f8ad;
}

.subscribe-wrapper {
  min-height: 448px;
  position: relative;
  z-index: 3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.avatar-wrapper {
  width: 100%;
  max-width: 360px;
  height: 216px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.avatar {
  width: 96px;
  height: 96px;
}

.avatar-speech {
  width: 360px;
  font-weight: 400;
  font-size: 20px;
  text-align: center;
  color: #222222;
}

.avatar-speech .avatar-speech-italic {
  font-style: italic;
}

.send-mail-wrapper {
  width: 365px;
  height: 142px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.subscribe-title,
.subscribe-caption {
  text-align: center;
}

.subscribe-caption {
  font-weight: 400;
  font-size: 18px;
}

.subscribe-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: inherit;
}

.subscribe-email-input {
  font-weight: 400;
  background-color: #E1E1E1;
  border: none;
  border-radius: 28px 0 0 28px;
  padding-left: 20px;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.subscribe-email-input:focus {
  outline: none;
  background-color: #ffffff;
  color: #222222;
}

.email-submit-btn {
  font-weight: 400;
  color: #F8F8F8;
  background-color: #F16D7F;
  border: none;
  padding: 16px 24px;
  border-radius: 0 28px 28px 0;
  letter-spacing: 0.05rem;
}

.email-submit-btn:hover {
  background-color: #222222;
}

.email-submit-btn:active {
  background-color: #F16D7F;
}

.copyright-social {
  width: 100%;
  height: 80px;
  background-color: #222222;
}

.copyright-social-wrapper {
  width: 100%;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.copyright {
  font-weight: 400;
  font-size: 16px;
  line-height: 145%;
  color: #F8F8F8;
  display: inline;
}

.social-icons-wrapper {
  width: 148px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.social-icon {
  width: 32px;
  height: 32px;
  background-color: #F8F8F8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
  cursor: pointer;
}

.social-icon path {
  fill: #222222;
}

.social-icon:hover path {
  fill: #F8F8F8;
}

.social-icon:hover {
  background-color: #F16D7F;
}

.page-title-breadcrumbs {
  width: 100%;
  min-height: 148px;
  margin-top: 75px;
  background-color: #F1E4E6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.page-title {
  max-width: 800px;
  text-transform: uppercase;
  font-weight: 400;
  color: #F16D7F;
}

.page-title-breadcrumbs-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.breadcrumbs {
  padding: 10px 16px;
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.breadcrumbs li {
  font-size: 14px;
  font-weight: 300;
}

ul.breadcrumbs li + li:before {
  padding: 8px;
  font-weight: 300;
  color: #222222;
  content: "/\00a0";
}

ul.breadcrumbs li a {
  color: #222222;
  text-decoration: none;
}

ul.breadcrumbs li a:hover {
  color: #F16D7F;
  text-decoration: underline;
}

ul.breadcrumbs li a:active {
  color: #222222;
  text-decoration: none;
}

.breadcrumbs li:last-child a {
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
}

.breadcrumbs li:last-child a:hover {
  font-size: 14px;
  font-weight: 700;
  color: #F16D7F;
  text-decoration: none;
  cursor: default;
}

.prodacts-filter {
  width: 100%;
  height: 132px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.pagination-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  border: 1px solid #E1E1E1;
  border-radius: 4px;
}

.pagination a {
  color: #9F9F9F;
  font-size: 16px;
  line-height: 145%;
  padding: 12px 16px;
  text-decoration: none;
  height: 100%;
}

.pagination a.active {
  color: #F16D7F;
}

.pagination a:hover:not(.active) {
  background-color: #FCBAC3;
  color: #ffffff;
}

.pagination a:first-child {
  color: #222222;
}

.pagination a:last-child {
  color: #222222;
}

.product-page-caruosel {
  width: 100%;
  height: 764px;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
}

.chevrons {
  width: inherit;
  height: inherit;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  z-index: 1;
}

.fa-solid-chevron {
  width: 48px;
  height: 48px;
  color: #222222;
  background-color: #E1E1E1;
  font-size: 20px;
  border: none;
  cursor: pointer;
}

.fa-solid-chevron:hover {
  color: #F16D7F;
}

.fa-solid-chevron:active {
  color: #F8F8F8;
  background-color: #222222;
}

.product-info-wrapper {
  width: 100%;
  max-width: 1140px;
  min-height: 600px;
  position: absolute;
  top: -64px;
  border: 1px solid #E1E1E1;
  background-color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 64px 249px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.women-collection {
  font-weight: 300;
  font-size: 14px;
  line-height: 145%;
  color: #F16D7F;
  margin-bottom: 12px;
}

.moschino-cheap {
  font-weight: 300;
  font-size: 18px;
  line-height: 145%;
  color: #5D5D5D;
  margin-bottom: 48px;
}

.product-info-text {
  text-align: center;
  max-width: 556px;
  margin-bottom: 32px;
}

.product-info-price {
  font-weight: 300;
  font-size: 24px;
  line-height: 145%;
  color: #F16D7F;
  margin-bottom: 64px;
}

.product-info {
  position: relative;
  min-height: 664px;
}

.horizontal-divider-red {
  width: 64px;
  height: 4px;
  background-color: #F16D7F;
  margin-bottom: 12px;
}

.horizontal-divider-black {
  width: 100%;
  height: 1px;
  background-color: #E1E1E1;
  margin-bottom: 64px;
}

select {
  font-weight: 400;
  font-size: 14px;
  color: #5D5D5D;
  padding: 8px;
  border: none;
  outline: none;
}

option {
  display: block;
  height: 500px;
  font-weight: 400;
}

.filter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 420px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 48px;
}

.btn-add-to-cart-product {
  border: 1px solid #F16D7F;
  background-color: initial;
  padding: 10px 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-decoration: none;
  cursor: pointer;
  cursor: pointer;
}

.btn-add-to-cart-product .icon-basket-add-to-cart-btn-product {
  width: 24px;
  height: 24px;
  margin-right: 12px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.btn-add-to-cart-product .add-to-cart-product {
  color: #F16D7F;
  letter-spacing: 0.05rem;
}

.btn-add-to-cart-product .btn-add-to-cart-product-icon {
  fill: #F16D7F;
}

.btn-add-to-cart-product:hover .btn-add-to-cart-product-icon {
  fill: #ffffff;
}

.btn-add-to-cart-product:hover {
  background-color: #F16D7F;
}

.btn-add-to-cart-product:hover .add-to-cart-product {
  color: #ffffff;
}
/*# sourceMappingURL=style.css.map */